.flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 85%;
  margin: auto;
  padding: 0;
}
.wrapper {
  width: 100%;
  /* height: 790px; */
  display: flex;
  align-items: center;
  background-color: #f8f7f6;
  margin-top: 80px;
  padding-bottom: 30px;
}
.left,
.right {
  padding-top: 15px;

  flex: 1;
  text-align: center;
}
.left h1,
.right h1 {
  font-size: 22px;
  font-weight: 600;
  width: 250px;
  margin: auto;
  padding-top: 15px;
  color: rgba(0, 0, 0, 0.821);
}
.left p,
.right p {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  width: 290px;
  margin: auto;
  color: rgba(0, 0, 0, 0.848);
  /* margin-bottom: 30px; */
}
.left button,
.right button {
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0.89);
  color: rgba(255, 255, 255, 0.92);
  font-weight: 600;
  padding: 10px 12px;
  transition: all 1s;
  border: 1px solid rgba(0, 0, 0, 0.89);
}
button:hover {
  background-color: white;
  color: black;
}
.image_mobile {
  height: 360px;
}
.botton_p {
  margin: 50px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.787);
}

@media only screen and (max-width: 740px) {
  .flex {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .wrapper {
    width: 100%;
  }
}
